.form-panel {
    border-radius:5px;
    padding:40px;
    margin: 10% 10% 10% 10%;
}

.bg-brown {
    background-color: #8B4513!important;
}

.alert-fixed {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1031;
}