body {
/*    background-color: lightgray;*/
}

label {
    font-size: 0.9em;
    font-weight: bold;
}

.required-label {
    font-size: 0.8em;
    font-weight: lighter;
    color: red;
}

.panel {
    border-radius:5px;
    margin: 5em 10% 5em 10%;
/*    background-color: antiquewhite;*/
}

.panel h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

.form-panel {
    padding:40px;
}

.settings-panel {
    padding: 40px;
    border-left: 1px solid #ced4da;
}

.bg-brown {
    background-color: #8B4513!important;
}

.alert-fixed {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1031;
}

.photo-frame {
    border-radius:50px;
    height: 100px;
    width: 100px;
}

.photo-frame img {
    height: 100%;
}

.sidenav {
    width: 200px;
    padding-top: 40px;
}


#photo-preview {
    height: 200px;
    padding: 10px;
    border: 1px solid #fffffe;
}

.thumbnail {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.thumbnail-sm {
    width: 100px;
    height: 100px;
}

.catalog-item {
    margin: 10px 10px 10px 10px;
    width: 200px;
    height: 270px;
    position: relative;
}

.catalog-item a {
    color: black;
}

.catalog-item a:hover {
    text-decoration: none;
}


.catalog-item .book-price {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.catalog-item .book-price hr{
    margin: 2px;
}

.catalog-item .caption {
    display: block;
    height: 90px;
    overflow: hidden;   
}

.catalog-item .caption span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.catalog-item .caption span.book-title {
    max-height: 25px;
}
.catalog-item .caption span.book-author {
    max-height: 20px;
}

.book-title { font-weight: bold; }
.book-author { 
    font-weight: lighter; 
    font-size: 0.8em;
}
.book-price {
    font-weight: bold;
    font-size: 0.8em;
}


.view-panel {
    padding: 2em;
}

.view-panel h2 {
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 1em;
    color: darkslategray;
    font-stretch: extra-expanded;
}

.view-panel .caption {
    display: block;
}

.view-panel .view-book-title {
}

.view-book-container{
    position: relative;
    float: left;
    height: 400px;
    overflow: hidden;
    background-color: black;
    margin-bottom: 50px;
}

.view-book-container img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.view-book-primary-details {
    float: right;
    margin-bottom: 2em;
}

.view-book-secondary-details {
}

.view-book-secondary-details table {
    margin-bottom: 2em;
}

.view-book-secondary-details td:nth-child(1){
    width: 150px;
    font-weight: bold;
    font-size: 0.9em;
}

.view-book-title{
    font-weight: bold; 
    font-size: 2em;
}

.view-book-author { 
    font-weight: lighter; 
    font-size: 1.6em;
}
.view-book-price {
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 30px;
}

.view-book-seller {
    font-weight: lighter; 
}

.view-seller-location {
    font-weight: lighter; 
    font-size: 0.8em;
    margin-bottom: 2em;
}

#contact-seller-container {
    padding: 2em;
}

input[name=search-book] {
    padding: 0.2em;
    float: left;
/*    width: 70%;*/
    font-size-adjust: auto;
    font-stretch: extra-expaextra-condensed;
    font-weight: lighter;
}

.search-panel {
    margin: 2em 5% 0 5%;
}

.filter-panel, .sort-panel {
    margin: 1em 5% 0 5%;
    padding: 0 1em 0 1em;
}


.filter-panel span {
    float: left;
    font-weight: lighter;
    margin-top: 5px;
}

.filter-button {
    margin: 0 5px 0 5px;
    float: left;
    border-radius: 0px;
}

.sort-panel span {
    float: left;
}

.sort-panel {
    font-weight: lighter;
}

.sort-panel select{
    width: auto;
    margin-left: 1em;
    border-radius: 0px;
}

.sender-bubble, .receiver-bubble {
    width: 100%;
    clear: both;
}

.sender-bubble {
    align-items: left;
    text-align: left;
}

.sender-bubble p {
    display: inline-block;
    background-color: #eeeeee;
    padding: 1em 1em 1em 1em;
    border-radius: 5px;
    margin-bottom: 0;
}

.receiver-bubble {
    align-items: right;
    text-align: right;
}

.receiver-bubble p {
    display: inline-block;
    background-color: azure;
    padding: 1em 1em 1em 1em;
    border-radius: 5px;
    margin-bottom: 0;
    clear: both;
}

.timestamp {
    font-size: 0.6em;
    font-weight: lighter;
    color: #aaaaaa;
    display: block;
}

.receiver-bubble timestamp {
    display: block;
}

.messages-list a span {
    display: block;
}

.messages-list a span.book-title {
    font-size: 0.7em;
}

.messages-list a span.sender-name {
    font-size: 1.2em;
    font-weight: bold;
}

.tag {
    float: right;
}
.message-box {
    padding:0;
    border-radius: 10px;
}
.message-header {
/*    background-color: black;*/
    padding: 2px 1em 2px 1em;
    margin: 0;
    border-radius: 9px 9px 0px 0px;
}

.message-body {
    padding: 1em;
    height: 350px;
    max-height: 350px;
    display: block;
    overflow-y: scroll;
}

.message-response textarea{
    max-height: 50px;
    overflow-y: scroll;
}

.message-response button[name='msgsend_btn']{
    height:50px;
}

.filler {
    text-align: center;
    margin: auto;
}