body {
/*    background-color: lightgray;*/
}

label {
    font-size: 0.9em;
    font-weight: bold;
}

.required-label {
    font-size: 0.8em;
    font-weight: lighter;
    color: red;
}

.panel {
    border-radius:5px;
    margin: 10% 10% 10% 10%;
/*    background-color: antiquewhite;*/
}

.form-panel {
    padding:40px;
}

.settings-panel {
    padding: 40px;
    border-left: 1px solid #ced4da;
}

.bg-brown {
    background-color: #8B4513!important;
}

.alert-fixed {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1031;
}

.photo-frame {
    border-radius:50px;
    height: 100px;
    width: 100px;
}

.photo-frame img {
    height: 100%;
}

.sidenav {
    width: 200px;
    padding-top: 40px;
}


#photo-preview {
    height: 200px;
    padding: 10px;
    border: 1px solid #fffffe;
}

.thumbnail {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.thumbnail-sm {
    width: 100px;
    height: 100px;
}