/*footer styles*/
.footer {
    padding: 1em;
}

/*panel styles*/
.panel {
    border-radius: 0px;
    margin: 3em 5% 3em 5%;
    display: block;
}

.panel h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

.form-panel {
    padding:40px;
}

.settings-panel {
    padding: 40px;
    border-left: 1px solid #ced4da;
}

.search-panel {
    margin: 2em 5% 0 5%;
    padding: 0;
}

.filter-sort-panel {
    margin: 1em 5% 1em 5%;
    vertical-align: bottom;
    position: relative;
    padding: 0;
}

.filter-panel {}

.sort-panel {
    position: absolute;
    bottom: 0;
    right: 14px;
    font-weight: lighter;
}

.label {
    text-transform: uppercase;
    font-size: 0.8em;
}

.filter-button {
    margin-right: 5px;
    float: left;
    border-radius: 0px;
}

.sort-panel select{
    width: auto;
    margin-left: 1em;
    border-radius: 0px;
}

.catalog-panel {
    margin: 1em 5% 0 5%;
}


/*form styles*/

label {
    font-size: 0.9em;
    font-weight: bold;
}

.required-label {
    font-size: 0.8em;
    font-weight: lighter;
    color: red;
}

/*alert styles*/
.alert-fixed {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1031;
}

/*edit profile styles*/
.photo-frame {
    border-radius:50px;
    height: 100px;
    width: 100px;
    font-size: 3em;
    background-color: #aaaaaa;
}

.photo-frame img {
    height: 100%;
}

.sidenav {
    width: 200px;
    padding-top: 40px;
}

/* sell book form styles*/
#photo-preview {
    height: 200px;
    padding: 10px;
    border: 1px solid #fffffe;
}

/* book catalog styles*/
.thumbnail {
    position: relative;
/*    width: 200px;*/
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.thumbnail-sm {
    width: 100px;
    height: 100px;
}

.catalog-item {
    padding: 15px;
/*    margin: 14px;*/
    position: relative;
/*    width: 230px;*/
    width: 100%;
    height: 300px;
}

.catalog-item a:hover {
    text-decoration: none;
}

.catalog-item .book-price {
    display: block;
/*    width: 200px;*/
    width: 87%;
    position: absolute;
    bottom: 14px;
    font-size: 0.8em;
    font-weight: 600;
    text-align: right;
}

.catalog-item .book-price hr{
    margin: 0px;
}

.catalog-item .caption {
    display: block;
    height: 90px;
    overflow: hidden;   
}

.catalog-item .caption span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.catalog-item .book-title {
    height: 25px;
    max-height: 25px;
    font-size: 1.2em;
}

.catalog-item .book-author { 
    font-weight: lighter; 
    font-size: 0.8em;
    text-transform: uppercase;
    max-height: 20px;
}
/*view book item styles*/
.view-panel {
    padding: 2em;
}

.view-panel h2 {
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 1em;
}

.view-panel .caption {
    display: block;
}

.view-panel .view-book-title {
}

.view-book-container{
    position: relative;
    float: left;
    height: 400px;
    overflow: hidden;
    background-color: black;
    margin-bottom: 50px;
}

.view-book-container img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.view-book-primary-details {
    float: right;
    margin-bottom: 2em;
}

.view-book-secondary-details {
}

.view-book-secondary-details table {
    margin-bottom: 2em;
}

.view-book-secondary-details td:nth-child(1){
    width: 150px;
    font-weight: bold;
    font-size: 0.9em;
}

.view-book-title{
    font-weight: bold; 
    font-size: 2em;
}

.view-book-author { 
    font-weight: lighter; 
    font-size: 1.6em;
}
.view-book-price {
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 30px;
}

.view-book-seller {
    font-weight: lighter; 
}

.view-seller-location {
    font-weight: lighter; 
    font-size: 0.8em;
    margin-bottom: 2em;
}

#contact-seller-container {
    padding: 2em;
}

/*search input styles*/
input[name=search-book] {
    padding: 0.2em;
    float: left;
    font-size-adjust: auto;
    font-stretch: extra-expaextra-condensed;
    font-weight: lighter;
    margin: 0;
}

/*message box styles*/
.sender-bubble, .receiver-bubble {
    width: 100%;
    clear: both;
}

.sender-bubble {
    align-items: left;
    text-align: left;
}

.sender-bubble p {
    display: inline-block;
    background-color: #eeeeee;
    padding: 1em 1em 1em 1em;
    border-radius: 5px;
    margin-bottom: 0;
}

.receiver-bubble {
    align-items: right;
    text-align: right;
}

.receiver-bubble p {
    display: inline-block;
    background-color: azure;
    padding: 1em 1em 1em 1em;
    border-radius: 5px;
    margin-bottom: 0;
    clear: both;
}

.timestamp {
    font-size: 0.6em;
    font-weight: lighter;
    color: #aaaaaa;
    display: block;
}

.receiver-bubble timestamp {
    display: block;
}
.messages-list {
    padding: 0px;
    border: none;
}
.messages-list a span {
    display: block;
}

.messages-list a span.book-title {
    font-size: 0.7em;
}

.messages-list a span.sender-name {
    font-size: 1.2em;
    font-weight: bold;
}

.tag {
    float: right;
}

.message-box {
    padding:0;
    border: none;
}

.message-box .form-control,
.message-box button{
    border-radius: 0px;
}

.message-header {
    padding: 2px 1em 2px 1em;
    margin: 0;
}

.message-body {
    padding: 1em;
    height: 350px;
    max-height: 350px;
    display: block;
    overflow-y: scroll;
}

.message-response textarea{
    max-height: 50px;
    overflow-y: scroll;
}

.message-response button[name='msgsend_btn']{
    height:50px;
}

.filler {
    text-align: center;
    margin: auto;
}


/*FOR LARGER SCREENS*/
@media (min-width: 600px) {
    .catalog-item {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .catalog-item {
        width: 33%;
    }
}

@media (min-width: 1024px) {
    .catalog-item {
        width: 25%;
    }
}

@media (min-width: 1300px) {
    .catalog-item {
        width: 20%;
    }
}


